@inherits NancyRazorViewBase<SampleWebsite.Modules.HomeModule.UserAccountModel>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Nancy.Validation.DataAnnotations.Extensions Demo</title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/Content/bootstrap-theme.min.css"/>
</head>
<body>
    <div class="container">
        <h1>Nancy.Validation.DataAnnotations.Extensions Demo</h1>

        <p>
            Account created successfully. <a href="~/">Do it again.</a>
        </p>
    </div>
    <script src="~/Scripts/jquery-2.1.3.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>